@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Playball&display=swap");

/* font-family: 'Catamaran', sans-serif;
font-family: 'Playball', cursive; */
:root {
  --main-txt-color: #000000;
  --third-txt-color: #333333;
  --secondary-bg-color: rgb(237, 223, 223);
  --secondary-txt-color: green;
  --header-txt-color: #ffffff;
  --para-txt-color: rgb(124, 111, 111);
  --gray-color: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Catamaran", sans-serif;
  color: var(--main-txt-color);
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
}

img {
  width: 100%;
  object-fit: cover;
}

/* HEADER  */
#header {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(backgroundheader-a10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 95vh;
}

#header ul {
  margin-left: auto;
}

#header ul li {
  text-transform: uppercase;
}

#header ul li a {
  color: var(--header-txt-color);
}

#header ul li a:hover {
  background-color: var(--secondary-txt-color);
}

#header .navbar {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5));
  padding-top: 0px;
  padding-bottom: 0px;
}

#header .navbar-brand {
  font-family: "Playball", cursive;
}

#header .navbar-brand span {
  font-size: 1rem;
}

#header .item {
  text-align: center;
  margin-top: 10%;
  color: var(--header-txt-color);
}

#header .nav-link {
  padding: 1.5rem 1rem;
}

#header .item .fab {
  margin: 10px;
}

/* ABOUT ME  */
#about-me,
#my-service,
#my-team,
#folio,
#plan,
#work,
#blog,
#client,
#my-client,
#story,
#talk {
  padding: 6em 0px;
}

#about-me h1,
#my-service h1,
#my-team h1,
#folio h1,
#plan h1,
#work h1,
#blog h1,
#client h1,
#my-client h1,
#story h1,
#talk h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--main-txt-color);
}

#about-me h1 span,
#my-service h1 span,
#my-team h1 span,
#folio h1 span,
#plan h1 span,
#work h1 span,
#blog h1 span,
#client h1 span,
#my-client h1 span,
#story h1 span,
#talk h1 span {
  color: var(--secondary-txt-color);
}

#about-me .underline,
#my-service .underline,
#my-team .underline,
#folio .underline,
#plan .underline,
#work .underline,
#blog .underline,
#client .underline,
#my-client .underline,
#story .underline,
#talk .underline {
  width: calc(30% + 200px);
  background-color: var(--secondary-txt-color);
  height: 4px;
  margin: 0 auto;
}

#about-me .underline p,
#my-service .underline p,
#my-team .underline p,
#folio .underline p,
#plan .underline p,
#work .underline p,
#blog .underline p,
#client .underline p,
#my-client .underline p,
#story .underline p,
#talk .underline p {
  width: 33.333333%;
  background-color: var(--secondary-txt-color);
  height: 6px;
  margin: 0 auto;
}

#about-me .row-1 img {
  float: left;
  border: 2px solid var(--secondary-txt-color);
  border-radius: 0.8em;
  height: 450px;
  max-width: 400px;
  margin-right: 20px;
  margin-top: 4em;
}

#about-me .row-1 p {
  color: var(--para-txt-color);
  padding-top: 4em;
  text-align: justify;
}

#about-me .row-1 .button {
  display: flex;
  flex-wrap: wrap;
}

#about-me .row-1 .button div:first-child {
  margin-bottom: 50px;
}

#about-me .row-1 a {
  background-color: var(--main-bg-color);
  color: var(--third-txt-color);
  border: 1px solid var(--main-txt-color);
  padding: 5px 15px;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 20px;
}

#about-me .row-1 .button a:hover {
  background-color: var(--secondary-txt-color);
  border: none;
  color: var(--header-txt-color);
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

#about-me .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

#about-me .list a {
  margin: 20px 3px 0px 0px;
  padding: 10px 15px;
  background-color: var(--secondary-bg-color);
  text-decoration: none;
  color: var(--main-txt-color);
  font-size: 1.2em;
}

#about-me .list a:hover {
  background-color: var(--secondary-txt-color);
  color: var(--header-txt-color);
}

#about-me .list .fas {
  padding: 5px;
  margin-right: 10px;
}

/* MY SERVICE */
#my-service {
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)),
    url(my-service\ background-a10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

#my-service h1,
#folio h1,
#work h1,
#client h1,
#story h1 {
  color: var(--header-txt-color);
}

#my-service .header-text,
#folio .header-text,
#work .header-text,
#client .header-text {
  max-width: calc(30% + 250px);
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  color: var(--header-txt-color);
}

#my-service .list {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#my-service .list .fas {
  background-color: var(--secondary-txt-color);
  color: var(--header-txt-color);
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 13px 20px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  font-size: 1.4rem;
}

#my-service .list .item {
  background-color: var(--header-txt-color);
  padding: 2em;
  text-align: center;
  border-bottom-right-radius: 7%;
  border-bottom-left-radius: 2%;
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}

#my-service .list .item h4 {
  padding-bottom: 10px;
}

#my-service .list .item p {
  padding-bottom: 15px;
  color: var(--para-txt-color);
}

#my-service .list a {
  text-decoration: none;
  background-color: var(--secondary-txt-color);
  color: var(--header-txt-color);
  padding: 5px 20px;
  border-radius: 7%;
  text-transform: capitalize;
}

/* MY TEAM  */
#my-team .header-text,
#plan .header-text,
#blog .header-text,
#talk .header-text {
  max-width: calc(30% + 250px);
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  color: var(--para-txt-color);
}

#my-team .box {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#my-team .box .item {
  position: relative;
}

/* #my-team .box img {
  position: relative;
} */

#my-team .box .footer {
  position: absolute;
  bottom: 0;
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.5em 0px;
}

#my-team .box .footer a {
  color: var(--header-txt-color);
  opacity: 1;
  font-size: 0.8em;
}

#my-team .box .footer a:hover {
  color: var(--secondary-txt-color);
}

#my-team .box .list {
  background-color: var(--secondary-bg-color);
  text-align: center;
  border-bottom-right-radius: 6%;
}

#my-team .box .list h3 {
  color: var(--secondary-txt-color);
  text-transform: capitalize;
  margin-top: 1em;
}

#my-team .box .list h6 {
  text-transform: capitalize;
  color: var(--third-txt-color);
  margin-bottom: 2em;
}

/* PORTFOLIO GALLERY  */
#folio {
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)),
    url(folio-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

#folio .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5em;
}

#folio .nav a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--header-txt-color);
  border: 1px solid var(--header-txt-color);
  background-color: transparent;
  padding: 5px 10px;
  margin: 10px 10px 0px 0px;
  font-size: 1.2em;
  border-radius: 5%;
}

#folio .nav a:hover {
  background-color: var(--secondary-txt-color);
  border: none;
}

#folio .items {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* PRICING PLAN  */
#plan .items {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

#plan .items .box {
  border-radius: 3%;
  padding-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#plan .items .upper-box {
  text-align: center;
  background-color: var(--gray-color);
  position: relative;
}

#plan .items .upper-box-2 {
  text-align: center;
  background-color: var(--secondary-txt-color);
  position: relative;
}

#plan .items .upper-box > h2 {
  padding-bottom: 3em;
  padding-top: 1em;
  color: var(--main-txt-color);
  text-transform: uppercase;
}

#plan .items .upper-box-2 > h2 {
  padding-bottom: 3em;
  padding-top: 1em;
  color: var(--header-txt-color);
  text-transform: uppercase;
}

#plan .items .price {
  position: absolute;
  bottom: -30%;
  left: 33.333333333333%;
  right: 33.33333333333%;
  border: 5px solid var(--header-txt-color);
  border-radius: 50%;
  background-color: var(--secondary-txt-color);
  padding: 10px 25px;
  color: var(--header-txt-color);
}

#plan .items .price h2 {
  margin-bottom: 0;
}

#plan .items .price span {
  font-size: 0.5em;
}

#plan .items .price p {
  font-size: 0.8em;
}

#plan .items .box .list {
  padding-top: 5em;
  text-align: center;
  color: var(--para-txt-color);
  padding-bottom: 0.5em;
}

#plan .items .box a {
  text-decoration: none;
  color: var(--header-txt-color);
  padding: 5px 15px;
  background-color: var(--secondary-txt-color);
  text-transform: capitalize;
  border-radius: 5%;
}

/* LET'S WORK TOGETHER  */
#work {
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)),
    url(work-background-a10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

#work h1 {
  text-transform: capitalize;
}

#work .header-text a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 15px;
  color: var(--header-txt-color);
  border: 2px solid #ffffff;
  border-radius: 5%;
}

#work .header-text a:hover {
  background-color: var(--secondary-txt-color);
  border: none;
  border-radius: 5%;
}

/* BLOG POST  */
#blog .list {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 2.5em;
}

#blog .list .item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 5%;
}

#blog .list .item h5 {
  padding-top: 1em;
  padding-left: 10px;
  color: var(--third-txt-color);
}

#blog .list .item p {
  padding-left: 10px;
  color: var(--para-txt-color);
}

#blog .list .item footer {
  padding: 10px;
  background-color: var(--secondary-bg-color);
}

#blog .list .item footer span {
  margin-right: 10px;
}

#blog .list .item footer span i {
  padding-right: 5px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 45px;
  height: 45px;
  background-color: var(--secondary-txt-color);
  border-radius: 50%;
  opacity: 1;
  margin-top: 2em;
}

.carousel-control-prev {
  left: calc(50% - 80px);
}

.carousel-control-next {
  right: calc(50% - 80px);
}

/* WHAT CLIENT SAY  */
#client {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(client-background-a10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

#client .picture {
  text-align: center;
}

#client img {
  width: 110px;
  height: 110px;
  border: 3px solid var(--secondary-txt-color);
  border-radius: 50%;
  background-color: #000000;
  margin: 3em 0px 1em 0px;
}

#client .icon {
  max-width: calc(30% + 250px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#client .icon .fas {
  font-size: 1.5em;
  color: var(--secondary-txt-color);
}

#client .header-text {
  margin-top: 1em;
}

#client .header-text h3 {
  text-transform: uppercase;
}

#client .header-text p:last-child {
  text-transform: uppercase;
}

/* MY CLIENTS  */
#my-client .subject {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 2.5em;
}

#my-client .subject a:hover {
  border: 5px solid var(--secondary-txt-color);
  border-radius: 5%;
}

/* SUCCESS STORY  */
#story {
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)),
    url(story-background-a10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 30vh;
}

#story .list {
  /* padding: 3em; */
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 3.5em;
}

#story .list .item {
  text-align: center;
  color: #ffffff;
}

#story .list .item .fas {
  border: 3px solid #ffffff;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
#story .list .item h1 {
  padding: 0.3em 0px;
}
#story .list .item p {
  font-size: 1.3em;
  text-transform: uppercase;
}

/* WANNA TALK  */
#talk .list {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 2.5em;
}

#talk .list p {
  font-size: 2em;
  margin-bottom: 0px;
  text-transform: capitalize;
}

#talk .list .underline {
  height: 2px;
  color: var(--secondary-txt-color);
  width: 100%;
}

#talk .list .write-me .box {
  width: 100%;
  margin: 30px 0px;
  padding: 10px 20px;
  background-color: rgb(228, 218, 218);
  border-radius: 2%;
  border-bottom-right-radius: 4%;
}

#talk input[type="text"],
#talk input[type="email"],
#talk input[type="tel"],
#talk textarea,
#talk input[list="services"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 13px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

#talk input[type="text"]:focus,
#talk input[type="email"]:focus,
#talk input[type="tel"]:focus,
#talk textarea:focus,
#talk input[list="services"]:focus {
  border-color: var(--secondary-txt-color);
  box-shadow: 0 0 8px 0 var(--secondary-txt-color);
}

#talk .inputWithIcon input[type="text"],
#talk .inputWithIcon input[type="email"],
#talk .inputWithIcon input[type="tel"],
#talk .inputWithIcon textarea,
#talk .inputWithIcon input[list="services"] {
  padding-left: 40px;
}

#talk .inputWithIcon {
  position: relative;
}

#talk .inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  transition: 0.3s;
}

#talk .inputWithIcon input[type="text"]:focus + i,
#talk .inputWithIcon input[type="email"]:focus + i,
#talk .inputWithIcon input[type="tel"]:focus + i,
#talk .inputWithIcon textarea:focus + i,
#talk .inputWithIcon input[list="services"]:focus + i {
  color: var(--secondary-txt-color);
}

#talk .inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 14px 11px;
  margin: 6px 1px;
  border-radius: 4px 0 0 4px;
}

#talk .inputWithIcon.inputIconBg.comment i {
  background-color: #aaa;
  color: #fff;
  padding: 38px 11px;
  margin: 4px 1px;
  border-radius: 4px 0 0 4px;
}

#talk .inputWithIcon.inputIconBg input[type="text"]:focus + i,
#talk .inputWithIcon.inputIconBg input[type="email"]:focus + i,
#talk .inputWithIcon.inputIconBg input[type="tel"]:focus + i,
#talk .inputWithIcon.inputIconBg textarea:focus + i {
  color: #fff;
  background-color: var(--secondary-txt-color);
}

input[type="submit"] {
  padding: 5px 50px;
  background-color: #aaa;
  color: var(--header-txt-color);
  border: none;
  border-radius: 5px;
}

.second input[type="submit"] {
  padding: 5px 30px;
}

input[type="submit"]:hover {
  background-color: var(--secondary-txt-color);
}

#talk .list .box .field {
  float: right;
  font-size: 0.8em;
  color: rgb(255, 0, 0);
}

#talk .grid {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: -1.5em;
}

#talk .grid .item {
  text-align: center;
  padding: 1.5em 0;
  border-radius: 5px;
  border-bottom-right-radius: 15px;
  background-color: var(--secondary-bg-color);
}

#talk .grid .item .fas {
  font-size: 1.7em;
  border: 2px solid var(--secondary-txt-color);
  border-radius: 50%;
  padding: 15px;
  color: var(--secondary-txt-color);
  margin: 10px 0 17px 0;
}

/* FOOTER  */
#footer {
  background-color: #000000;
  color: var(--header-txt-color);
  padding-top: 3em;
  margin-bottom: 0 !important;
}

#footer .grid {
  /* padding: 3em; */
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 3.5em;
  margin-bottom: 5em;
}

#footer .grid .item h3 {
  margin-bottom: 0;
}

#footer .grid .item h3 span {
  color: var(--secondary-txt-color);
}

#footer .grid .item .underline {
  width: 100%;
  height: 2px;
  background-color: var(--header-txt-color);
  margin-bottom: 1.5em;
}

#footer .grid .item .mail {
  position: relative;
  margin-bottom: 3em;
}

#footer .grid .item .mail input[type="email"] {
  position: absolute;
  width: 100%;
  padding: 1px 75px 2px 4px;
  border-radius: 5px;
  border: 3px solid var(--secondary-txt-color);
}

#footer .grid .item .mail a {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 3px 27px;
  background-color: var(--secondary-txt-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--header-txt-color);
}

#footer .grid input[type="email"]:hover {
  border-color: var(--secondary-txt-color);
  box-shadow: 0 0 8px 0 var(--secondary-txt-color);
}

#footer .grid .item .image {
  display: inline-flex;
  max-width: 100%;
}

#footer .grid .item .image img {
  max-width: 100%;
  height: 95px;
  object-fit: cover;
}

#footer .grid .item .iconText {
  display: flex;
}

#footer .grid .item .iconText i {
  margin-right: 1.5em;
}

#footer .grid .item .icon i {
  margin-right: 1.5em;
}

#footer .underline {
  width: 100%;
  height: 2px;
  background-color: var(--header-txt-color);
}

#footer footer {
  padding: 1.5em 0 1em 0;
  text-align: center;
}
