@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Playball&display=swap");

/* font-family: 'Catamaran', sans-serif;
font-family: 'Playball', cursive; */
:root {
  --main-txt-color: #000000;
  --third-txt-color: #333333;
  --secondary-bg-color: rgb(237, 223, 223);
  --secondary-txt-color: green;
  --header-txt-color: #ffffff;
  --para-txt-color: rgb(124, 111, 111);
  --gray-color: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Catamaran", sans-serif;
  color: var(--main-txt-color);
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
}

img {
  width: 100%;
  object-fit: cover;
}

/* HEADER  */
#header {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(backgroundheader-a10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 95vh;
}

#header ul {
  margin-left: auto;
}

#header ul li {
  text-transform: uppercase;
}

#header ul li a {
  color: var(--header-txt-color);
}

#header ul li a:hover {
  background-color: var(--secondary-txt-color);
}

#header .navbar {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5));
  padding-top: 0px;
  padding-bottom: 0px;
}

#header .navbar-brand {
  font-family: "Playball", cursive;
}

#header .navbar-brand span {
  font-size: 1rem;
}

#header .item {
  text-align: center;
  margin-top: 10%;
  color: var(--header-txt-color);
}

#header .nav-link {
  padding: 1.5rem 1rem;
}

#header .item .fab {
  margin: 10px;
}

/* ABOUT ME  */
#about-me,
#my-service,
#my-team,
#folio,
#plan {
  padding: 6em 0px;
}

#about-me h1,
#my-service h1,
#my-team h1,
#folio h1,
#plan h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--main-txt-color);
}

#about-me h1 span,
#my-service h1 span,
#my-team h1 span,
#folio h1 span,
#plan h1 span {
  color: var(--secondary-txt-color);
}

#about-me .underline,
#my-service .underline,
#my-team .underline,
#folio .underline,
#plan .underline {
  width: 30%;
  background-color: var(--secondary-txt-color);
  height: 4px;
  margin: 0 auto;
}

#about-me .underline p,
#my-service .underline p,
#my-team .underline p,
#folio .underline p,
#plan .underline p {
  width: 33.333333%;
  background-color: var(--secondary-txt-color);
  height: 6px;
  margin: 0 auto;
}

/* #about-me .row-1 {
  padding: 2em;
} */

#about-me .row-1 img {
  float: left;
  border: 2px solid var(--secondary-txt-color);
  border-radius: 0.8em;
  height: 450px;
  max-width: 400px;
  margin-right: 20px;
  margin-top: 4em;
}

#about-me .row-1 p {
  color: var(--para-txt-color);
  padding-top: 4em;
  text-align: justify;
}

#about-me .row-1 .button {
  display: flex;
  flex-wrap: wrap;
}

#about-me .row-1 .button div:first-child {
  margin-bottom: 50px;
}

#about-me .row-1 a {
  background-color: var(--main-bg-color);
  color: var(--third-txt-color);
  border: 1px solid var(--main-txt-color);
  padding: 5px 15px;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 20px;
}

#about-me .row-1 .button a:hover {
  background-color: var(--secondary-txt-color);
  border: none;
  color: var(--header-txt-color);
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

#about-me .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

#about-me .list a {
  margin: 20px 3px 0px 0px;
  padding: 10px 15px;
  background-color: var(--secondary-bg-color);
  text-decoration: none;
  color: var(--main-txt-color);
  font-size: 1.2em;
}

#about-me .list a:hover {
  background-color: var(--secondary-txt-color);
  color: var(--header-txt-color);
}

#about-me .list .fas {
  padding: 5px;
  margin-right: 10px;
}

/* MY SERVICE */
#my-service {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(my-service\ background-a10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

#my-service h1,
#folio h1 {
  color: var(--header-txt-color);
}

#my-service .header-text,
#folio .header-text {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  color: var(--header-txt-color);
}

#my-service .list {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#my-service .list .fas {
  background-color: var(--secondary-txt-color);
  color: var(--header-txt-color);
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 13px 20px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  font-size: 1.4rem;
}

#my-service .list .item {
  background-color: var(--header-txt-color);
  padding: 2em;
  text-align: center;
  border-bottom-right-radius: 7%;
  border-bottom-left-radius: 2%;
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}

#my-service .list .item h4 {
  padding-bottom: 10px;
}

#my-service .list .item p {
  padding-bottom: 15px;
  color: var(--para-txt-color);
}

#my-service .list a {
  text-decoration: none;
  background-color: var(--secondary-txt-color);
  color: var(--header-txt-color);
  padding: 5px 20px;
  border-radius: 7%;
  text-transform: capitalize;
}

/* MY TEAM  */
#my-team .header-text,
#plan .header-text {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  color: var(--para-txt-color);
}

#my-team .box {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#my-team .box .item {
  position: relative;
}

/* #my-team .box img {
  position: relative;
} */

#my-team .box .footer {
  position: absolute;
  bottom: 0;
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.5em 0px;
}

#my-team .box .footer a {
  color: var(--header-txt-color);
  opacity: 1;
  font-size: 0.8em;
}

#my-team .box .footer a:hover {
  color: var(--secondary-txt-color);
}

#my-team .box .list {
  background-color: var(--secondary-bg-color);
  text-align: center;
  border-bottom-right-radius: 6%;
}

#my-team .box .list h3 {
  color: var(--secondary-txt-color);
  text-transform: capitalize;
  margin-top: 1em;
}

#my-team .box .list h6 {
  text-transform: capitalize;
  color: var(--third-txt-color);
  margin-bottom: 2em;
}

/* PORTFOLIO GALLERY  */
#folio {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(folio-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
}

#folio .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5em;
}

#folio .nav a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--header-txt-color);
  border: 1px solid var(--header-txt-color);
  background-color: transparent;
  padding: 5px 10px;
  margin: 10px 10px 0px 0px;
  font-size: 1.2em;
  border-radius: 5%;
}

#folio .nav a:hover {
  background-color: var(--secondary-txt-color);
  border: none;
}

#folio .items {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* PRICING PLAN  */
#plan .items {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

#plan .items .box {
  border-radius: 3%;
  padding-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#plan .items .upper-box {
  text-align: center;
  background-color: var(--gray-color);
  position: relative;
}

#plan .items .upper-box-2 {
  text-align: center;
  background-color: var(--secondary-txt-color);
  position: relative;
}

#plan .items .upper-box > h2 {
  padding-bottom: 3em;
  padding-top: 1em;
  color: var(--main-txt-color);
  text-transform: uppercase;
}

#plan .items .upper-box-2 > h2 {
  padding-bottom: 3em;
  padding-top: 1em;
  color: var(--header-txt-color);
  text-transform: uppercase;
}

#plan .items .price {
  position: absolute;
  bottom: -30%;
  left: 33.333333333333%;
  right: 33.33333333333%;
  border: 5px solid var(--header-txt-color);
  border-radius: 50%;
  background-color: var(--secondary-txt-color);
  padding: 10px 25px;
  color: var(--header-txt-color);
}

#plan .items .price h2 {
  margin-bottom: 0;
}

#plan .items .price span {
  font-size: 0.5em;
}

#plan .items .price p {
  font-size: 0.8em;
}

#plan .items .box .list {
  padding-top: 5em;
  text-align: center;
  color: var(--para-txt-color);
  padding-bottom: 0.5em;
}

#plan .items .box a {
  text-decoration: none;
  color: var(--header-txt-color);
  padding: 5px 15px;
  background-color: var(--secondary-txt-color);
  text-transform: capitalize;
  border-radius: 5%;
}
